<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Message</p>
    <%for(let i = 0; i < messages.length; i++){%>
        <div class="message">
            <h3><%=messages[i].user%></h3>
            <p class="text"><%=messages[i].text%></p>
            <p class="date"><%=messages[i].added%></p>
        </div>
    <%}%>
</body>
</html>